@charset "UTF-8";
.schedule__contents {
    padding: 0 13.5%;
}

.article__header {
    padding: 100px 0 0;
}

.section__title {
    text-align: left;
    margin-bottom: 120px;
}

.schedule__listGroup {
    max-width: 1050px;
    max-height: 500px;
    overflow-y: auto;
    background: rgba(var(--primary-snow-rgb), 0.8);
    color: var(--primary-darkGreen);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0;
    margin-bottom: 100px;
}

.schedule__list {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}

.schedule__year {
    font-size: 1.6rem;
    font-weight: 600;
}

.schedule__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.schedule__txt {
    display: flex;
    gap: 160px;
}

.schedule__date {
    font-size: 1.6rem;
    font-weight: 500;
}

.schedule__event {
    text-align: left;
}

.schedule__eventName {
    font-size: 1.8rem;
}

.schedule__place {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
} 

.schedule__place img {
    width: 10px;
    height: 18px;
    margin-right: 15px;
}

/* creator sp */
@media screen and (max-width: 768px) {
    .schedule__contents {
        width: 100%;
        padding: 0 5.3%;
    }

    .article__header {
        padding: 80px 0 0;
    }

    .section__title {
        margin-bottom: 100px;
    }

    .schedule__listGroup {
        background: rgba(var(--primary-snow-rgb), 0.8);
        color: var(--primary-darkGreen);
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px;
        margin-bottom: 120px;
    }

    .schedule__list {
        max-width: 240px;
    }

    .schedule__txt {
        flex-direction: column;
        gap: 10px;
    }
}
/* sp 768px */